<hr>
<footer>
    <div class="footer__content">
        <span class="copyright">
            {{ siteInfo.siteTitle }} &copy; {{ 'now' | date: '%Y' }}.
        </span>
        <div class="footer__content__slinks">
            <a class="sl" href="https://twitter.com/{{ siteInfo.twitterHandle }}" target="_blank" rel="noopener" aria-label="Go to Twitter"><img src="/dist/images/twitter.svg" alt="Twitter" /></a>
            <a class="sl" href="https://instagram.com/{{ siteInfo.instagramHandle }}" target="_blank" rel="noopener" aria-label="Go to Instagram"><img src="/dist/images/instagram.svg" alt="Instagram" /></a>
        </div>
    </div>
</footer>